main {
    background-color: rgb(209, 60, 41);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.logo-image {
    width: auto;
    height: 40px;
}

.dropdown-menu {
    background-color: #212529 !important;
    border: none;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #343a40;
    color: #fff;
}